.wrapper {
    display: block;
    width: inherit;
    height: inherit;
}

.btn {
    display: block;
    cursor: pointer;
    background-color: #ff5c5c;
}

.btn.active {
    background-color: green;
}

.btn img {
    width: 100%;
    height: 100%;
}